<!-- 上传显示图片-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAIT 爱心宠物站</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<h1 >HAIT 爱心宠物站</h1>

<div id="app">
    <!--搜索框表单-->
    <el-form :inline="true" :model="animal" class="demo-form-inline">


        <el-form-item label="动物名称">
            <el-input v-model="animal.animalName" placeholder="动物名称"></el-input>
        </el-form-item>

        <el-form-item label="存活状态">
            <el-input v-model="animal.isLive" placeholder="存活状态"></el-input>
        </el-form-item>

        <el-form-item label="动物描述">
            <el-input v-model="animal.description" placeholder="动物描述"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>

    </el-form>




    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="animalName"
                    label="动物名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="isLive"
                    align="center"
                    label="存活状态">
            </el-table-column>

<!--            <el-table-column-->
<!--                    align="center"-->
<!--                    label="操作">-->

<!--                <el-row>-->
<!--                    <el-button type="success">查看</el-button>-->
<!--                    <el-button type="primary">修改</el-button>-->
<!--                    <el-button type="danger">删除</el-button>-->
<!--                </el-row>-->

<!--            </el-table-column>-->
<!--            这样写 就可以通过scope和row获取每一行的数据-->
            <el-table-column label="操作" align="center">

                <template slot-scope="scope">

                    <el-button type="success"
                                @click="selectAnimal(scope.$index, scope.row)">查看</el-button>

                </template>

            </el-table-column>

        </el-table>
    </template>


    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

    <!--添加联系我们 对话框表单-->
    <el-dialog
            title="联系我们"
            :visible.sync="tellUs_dialogVisible"
            width="30%"
    >
        <el-form ref="form" :model="message" label-width="80px">

            <el-form-item label="姓名">
                <el-input type="textarea" v-model="message.name"></el-input>
            </el-form-item>

            <el-form-item label="联系方式">
                <el-input type="textarea" v-model="message.tel"></el-input>
            </el-form-item>

            <el-form-item label="想说的话">
                <el-input type="textarea" v-model="message.description"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="tellUsMessage">提交</el-button>
                <el-button @click="tellUs_dialogVisible = false">取消</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>

<!--    联系按钮-->
    <el-row>

        <el-button type="primary" plain @click="tellUs_dialogVisible = true">联系我们</el-button>

    </el-row>


</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        // 页面一经加载 便会执行mounted
        mounted(){
     //       提示登陆成功
            this.$notify({
                title: '成功',
                message: '恭喜您，登陆成功~',
                type: 'success'
            });
            this.selectAll();

        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
               // console.log(this.animal);
                this.selectAll();
            },

            //分页
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.selectAll();
            },
            //查询所有
            selectAll(){
                    // 条件分页查询
                let _this = this;
                axios({
                    method:"post",
                    url:"http://localhost:8080/Hait-Animal/animal/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    // 条件查询的内容封装brand对象
                    data:this.animal
                    // 获取数据后 执行function回调函数
                }).then(resp =>{
                    //表格数据模型叫tableData 将response的集合数据显示到页面表格中 {rows[],totalCount}
                    _this.tableData = resp.data.rows;
                    // 赋值总也码数 左边的totalCount为分页工具条中即前端的totalCount
                    // 右边的totalCount 为 后端响应给前端json数据 即pageBean中的totalCount
                    _this.totalCount = resp.data.totalCount;
                })
            },
            selectAnimal(index,row){
                //执行查看逻辑
                // 1.发送ajax请求
                let _this = this;
                // console.log("查看" + row.id);
                // 发送ajax请求 将添加的数据传给后端
                axios({
                    method: "post",
                    url: "http://localhost:8080/Hait-Animal/animal/selectAnimal",
                    // axios中的this为浏览器 而外面的this为vue对象
                    data: _this.selectedIdAnimal = row.id
                }).then(function (resp){
                    // 希望将后端得到的json格式据animal(resp.data) 转发给另一个vue页面
                    // 不会跳转vue  那就只好跳转jsp了。。。 因为是ajax的缘故 后台无法直接跳转jsp
                    // 要使用window.location.href来进行跳转
                    _this.skip();
                })

            },
            skip(){
                //alert("1");
                window.location.href = "http://localhost:8080/Hait-Animal/selectAnimal.jsp";
            },
            // 与我们取得联系
            tellUsMessage(){
                let _this = this;
                // 发送ajax请求 将添加的数据传给后端
                axios({
                    method: "post",
                    url: "http://localhost:8080/Hait-Animal/message/addMessage",
                    // axios中的this为浏览器 而外面的this为vue对象
                    data: _this.message
                }).then(function (resp){
                    // 判断是否添加成功
                    if(resp.data == "success"){
                        // 一个提示信息
                        _this.$message({
                            message: '恭喜您,发送成功~',
                            type: 'success'
                        });
                    }

                    //    关闭页面
                    _this.tellUs_dialogVisible = false;

                    // 清空表格数据
                    _this.deleteMessage();

                    // 跳转页面 查询所有
                    _this.selectAll();
                })
            },
            // 删除框内信息
            deleteMessage(){
                this.message.id = '';
                this.message.name = '';
                this.message.tel = '';
                this.message.description = '';
            },
        },

        data() {
            return {
                // 当前页码
                currentPage: 1,
                // 每页显示条数 默认五条
                pageSize : 5,
                // 总记录条数
                totalCount : 100,
                // 查看时 被选中的id
                selectedIdAnimal : 1,
                // 添加联系我们对话框是否展示的标记
                tellUs_dialogVisible : false,
                // 联系我们相关信息：
                message : {
                    id:"",
                    name: '',
                    tel:"",
                    description:"",
                },
                // 搜索框动物模型数据
                animal: {
                    id:"",
                    animalName: '',
                    sex:"",
                    isLive: '',
                    description:"",
                    likes: ''
                },
                // 修改方法动物模型数据
                updateAnimal: {
                    id:"",
                    animalName: '',
                    sex:"",
                    isLive: '',
                    description:"",
                    likes: ''
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    animalName: '大黄',
                    sex: '男',
                    isLive: '活',
                    description: "不错的小黄狗",
                    likes : "0"
                }, {
                    animalName: '大黄',
                    sex: '男',
                    isLive: '活',
                    description: "不错的小黄狗",
                    likes : "0"
                }, {
                    animalName: '大黄',
                    sex: '男',
                    isLive: '活',
                    description: "不错的小黄狗",
                    likes : "0"
                }, {
                    animalName: '大黄',
                    sex: '男',
                    isLive: '活',
                    description: "不错的小黄狗",
                    likes : "0"
                }]
            }
        }
    })

</script>

</body>
</html>